#slideshow img{
    margin: 5%;
    width: 90%;
    height: 40vh;
}
#movies{
    margin: 10px 20% 10px 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 38px;
    text-align: center;
}
#movies #card{
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 15px;
}
#movies #card img{
    width: 50%;
    margin: auto;
}
@media all and (max-width:1000px) and (min-width :600px){
    #movies{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (max-width :600px){
    #movies{
        grid-template-columns: repeat(1, 1fr);
    }
}